body{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.tab {
    width: 200px;
    height: 50px;
    background-color: rgb(196, 191, 121);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-right: 600px;
    margin-top: 200px;
}

.front-folder{
    width: 800px;
    height: 600px;
    background-color: rgb(255, 248, 155);
    position: absolute;
    margin-right: 50px;
    margin-top: 275px;
}

.flip-front  {
    animation-name: flip;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;

}

@keyframes flip {
    from {
        transform-origin: 0 100%;
    }
    to {
        transform: rotateX(160deg);
        transform-origin: 0 100%;
        margin-right: 0;
    }
}

.flip-closed {
    animation-name: close;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    
}

@keyframes close {
    from {
        transform: rotateX(160deg);
        transform-origin: 0 100%;
        margin-right: 0;
    }
    to {
        transform: rotateX(0deg);
        transform-origin: 0 100%;
        margin-right: 50px;
    }
}

.back-folder {
    width: 800px;
    height: 625px;
    background-color: rgb(196, 191, 121);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close {
    background-color: antiquewhite;
    width: 200px;
}